<ul id="lists">
  <% @lists.each_with_index do |list, index| %>
    <li>
      <a>
        <h2><a href="lists/<%= index %>"><%=list[:name]%></a> </h2>
        <p><%= list[:todos].size%></p>
      </a>
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a class="add" href="/lists/new">New List</a>
<% end %>